@model IEnumerable<string>

<h1>BIENVENIDO</h1>
<p><span class="text-primary"><b><i>@ViewBag.User</i></b></span></p>
<hr />
<br />



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="list-group">
                <div class="list-group-item">
                    <center>
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" height="150">
                        <hr />
                        <h4 class="list-group-item-heading"><i>@Html.DisplayFor(model => item)</i></h4>
                        <p class="list-group-item-text">@Html.ActionLink("ENVIAR MENSAJE", "QueryChat", new { item })</p>
                    </center>
                </div>
            </div>
        </div>
        <br />
    }
</div>
