@model IEnumerable<string>

<h1>BIENVENIDO</h1>
<h6>@ViewBag.User</h6>

<hr />

<br />
<a class="btn btn-secondary btn-lg" href='@Url.Action("SearchMessage","User")' role="button">BÚSCAR MENSAJE</a>
<br />
<br />
<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="list-group">
                <div class="list-group-item">
                    <center>
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" height="150">
                        <hr />
                        <h4 class="list-group-item-heading"><i>@Html.DisplayFor(model => item)</i></h4>
                        <p class="btn btn-primary">@Html.ActionLink("ENVIAR MENSAJE", "QueryChat", new { user = item }, new { style = "text-decoration:none; color:white" })</p>
                    </center>
                </div>
            </div>
        </div>
        <br />
    }
</div>
