@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-3"><b>MENSAJES RELEVANTES S.A</>.</b></h1>
    <p class="lead">PROYECTO FINAL - ESTRUCTURAS DE DATOS II</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href='@Url.Action("Login","User")' role="button">INGRESAR</a>
    </p>
</div>

